<div class="container">
  <div class="header">
    <div class="right">
      <img src="./../../assets/local_atm-24px.svg" alt="" />

      <h5>الموظفين</h5>
    </div>
    <div class="left">
      <button [routerLink]="['/employees/add']">اضافة موظف</button>
    </div>
  </div>
  <table *ngIf="employees.length !== 0" class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">
          <input
            type="checkbox"
            (change)="selectAll()"
            class="form-check-input"
            id="exampleCheck1"
          />
        </th>
        <th scope="col">#</th>
        <th
          scope="col"
          [class.active]="order === 'id'"
          (click)="setOrder('id')"
        >
          الكود<span [hidden]="reverse">▼</span
          ><span [hidden]="!reverse">▲</span>
        </th>
        <th scope="col">الاسم</th>
        <th scope="col">الوظيفه</th>
        <th scope="col">موبايل</th>
        <th scope="col">البريد الالكتروني</th>
        <th scope="col">التاريخ</th>
        <th scope="col">الحاله</th>
        <th scope="col">
          <img src="./../../assets/settings-black-18dp.svg" alt="" />
        </th>
      </tr>
    </thead>

    <tbody>
      <!-- <tr *ngFor="let employee of employees; let i = index"> -->

      <tr *ngFor="let employee of employees; let i = index">
        <th scope="row">
          <input
            type="checkbox"
            [checked]="employee.selected"
            class="form-check-input"
            id="exampleCheck1"
          />
        </th>
        <td>{{ i + 1 }}</td>
        <td>{{ i + 1 }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.job }}</td>
        <td>{{ employee.mobile }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ date | date: "dd/MM/yyyy" }}</td>
        <!-- <td>{{ employee.gender }}</td> -->

        <td>
          <label class="switch">
            <input type="checkbox" [checked]="employee.status" />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <button
            class="edit btn"
            (click)="onEditEmployee(employee.id)"
          ></button>
          <button
            (click)="onDeleteEmployee(employee.id)"
            class="delete btn"
          ></button>
        </td>

        <div
          [ngClass]="{ show: showModal }"
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        ></div>
      </tr>
    </tbody>

    <!-- <pagination-controls  id="some_id"
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls> -->
  </table>
  <nav *ngIf="employees.length !== 0" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="spinner">
    <h1 *ngIf="employees.length == 0 && !isLoading">No Employees Found</h1>
    <div *ngIf="isLoading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Modal -->
</div>
